:root {
	--primary-color: #54294d;
	--primary-active-color: #8e2b7e;
	--secondary-color: #e6dce8;
	--primary-light-color: #faf8fb;
	--text-color: #242424;
	--opposite-color: #fff;
	--success-color: #90b038;
	--error-color: #ff6361;
	--font-regular: 400;
	--font-medium: 500;
	--font-black: 900;
	--border: 2px solid #e6dce8;
	--header-height: 50px;
	--footer-height: 40px;
}

body {
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-weight: var(--font-regular);
	font-style: normal;
	color: var(--text-color);
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

b {
	font-weight: var(--font-black);
}

a {
	text-decoration: none;
}

/* animation */
.bounce {
	animation: bounce 2s ease infinite;
}

@keyframes bounce {
	70% { transform:translateY(0%); }
	80% { transform:translateY(-15%); }
	90% { transform:translateY(0%); }
	95% { transform:translateY(-7%); }
	97% { transform:translateY(0%); }
	99% { transform:translateY(-3%); }
	100% { transform:translateY(0); }
}

.pulse {
	animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
	from { transform: scale(1); }
	to { transform: scale(1.08); }
}

/* header */
header {
	position: sticky;
	top: 0;
	min-height: var(--header-height);
	background: var(--primary-color);
	color: var(--opposite-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-link {
	padding: 10px;
	color: var(--secondary-color);
	font-size: 0.86rem;
	min-width: 80px;
}

main {
	flex: 1;
}

menu {
	padding: 10px;
	text-align: center;
}

.menu-btn {
	text-align-last: left;
	width: 100%;
	line-height: 1.8rem;
	padding: 10px 40px 10px 20px;
	position: relative;
}

.menu-btn:after {
	content: '➡️';
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.menu-btn:active {
	background: var(--secondary-color);
}

.menu-item {
	border-bottom: var(--border);
}

.menu-item-title {
	font-size: 1.2rem;
	text-align-last: left;
}

.menu-item-description {
	font-size: 0.75rem;
	text-align: left;
	line-height: 1.1rem;
}

footer {
	margin-top: auto;
	position: sticky;
	bottom: 0;
	background: var(--opposite-color);
	padding: 10px;
	border-top: var(--border);
	height: var(--footer-height);
	display: flex;
	justify-content: center;
	align-items: center;
}

.block-disabled {
	pointer-events: none;
	opacity: 0.3;
}

.hidden-disabled {
	pointer-events: none;
	opacity: 0;
}

.success-color {
	color: var(--success-color);
}

.error-color {
	color: var(--error-color);
}

button {
	border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.text-left {
	text-align: left;
}

.btn {
	background: var(--primary-color);
	color: var(--opposite-color);
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 1rem;
}

.btn:active {
	background: var(--primary-active-color);
}

/* box */
.box {
	padding: 10px;
	font-size: 2.5rem;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	height: calc(100dvh - (var(--header-height) + var(--footer-height)));
	row-gap: 10px;
}

.box__task {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.box-input {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* correct-variant */
.correct-variant {
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	border: 2px solid var(--success-color);
	padding-block: 10px;
}

.correct-variant__text {
	font-size: 3rem;
}

.correct-variant-msg {
	line-height: 1.4rem;
	font-size: 0.8rem;
	overflow: hidden;
}

.box__variants {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2px;
	background: var(--secondary-color);
	position: relative;
}

.variant-btn {
	font-size: 1.5rem;
	background: var(--opposite-color);
}

.variant-btn:active {
	background: var(--secondary-color);
}

/* progress */
.progress-bar {
	width: 0%;
	background: var(--secondary-color);
	position: absolute;
	top: 0;
    left: 0;
    height: 100%;
	transition: all 0.6s ease;
}

.progress-content {
	position: relative;
}

/* final-msg */
.final-msg {
	font-size: 1.6rem;
	text-align: center;
	line-height: 2.5rem;
}

.refresh-btn-container {
	text-align: center;
}

/* incentive-msg */
.incentive-msg {
	position: absolute;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    bottom: 100%;
    line-height: 1.8rem;
}

.incentive-msg-text {
	overflow: hidden;
}

.theory {
	padding: 20px 0;
}

.theory-title {
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.2rem;
}

.theory-words-item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	padding: 15px 20px;
}

.theory-words-item:nth-child(odd) {
	background: var(--primary-light-color);
}

/* grid table */
.grid-table {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	grid-template-rows: auto auto auto;
	width: 100%;
	line-height: 1.8rem;
}

.grid-cell {
	padding: 10px 5px;
	border: 0.5px solid var(--primary-active-color);
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-light-color);
}

.grid-cell b {
	text-decoration: underline;
}

.grid-title {
	font-weight: bold;
	background-color: var(--secondary-color);
}

.third-column {
	grid-row: span 6;
}

.surround {
	padding: 0 10px;
	position: relative;
	display: inline-block;
	--round: 5px;
	--off: 0;
}

.surround.sys {
    --round: 10px;
    --off: 5px;
    padding: 0 15px;
    background-image: linear-gradient(0deg, currentColor 25%, currentColor 25%);
    background-repeat: no-repeat;
    background-size: 5px 2px;
}

.surround.sys.m-left {
	background-position: 0 center;
}

.surround.sys.m-right {
	background-position: 100% center;
}

.surround.m-left::before,
.surround.m-right::after {
    content: '';
    width: 5px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    border-top: 2px solid currentColor;
    border-bottom: 2px solid currentColor;

}

.surround.m-left::before {
	left: var(--off);
	border-left: 2px solid currentColor;
    border-top-left-radius: var(--round);
    border-bottom-left-radius: var(--round);
}

.surround.m-right::after {
	right: var(--off);
	border-right: 2px solid currentColor;
    border-top-right-radius: var(--round);
    border-bottom-right-radius: var(--round);
}










/* utility classes */
.hidden {
	display: none !important;
}
